body {
            font-family: 'Arial', sans-serif;
            background-color: #f7f7f7;
            color: #333;
            margin: 0;
            padding: 0;
        }

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #007BFF;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 17px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    

}

button:hover {
    background-color: #007BFF;
}

a {
    padding: 5px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
}


.unit-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.unit-list li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.unit-list li a {
    text-decoration: none;
    color: #007BFF;
    padding: 5px 10px;
    margin: 0 5px;
}

.unit-list li a:hover {
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

.delete-link {
    color: #FF5722;
}

.delete-link:hover {
    background-color: #FF5722;
    color: white;
    border-radius: 5px;
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;

}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}



select {

    box-shadow: 0 10px 25px rgba(0,0,0,0);
    font-size: 1rem;
    padding: 1em 6em 1em 1.5em;
    background: #007BFF;
    color: white;
    border: 0;
    border-radius: 5px;



}

.custom-select {

    position: center;
    margin-left: auto;
    margin-right: auto;
    
}

.custom-arrow {

    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: #3b3c47;
    height: 100%;
    width: 4rem;
    pointer-events: none;

}

.custom-arrow::before,
.custom-arrow::after {
    --size: 1em;
    content:'';
    position: absolute;
    width: 0;
    height: 0;

    left: 50%;
    transform:translate(-50%,-50%);

}

.custom-arrow::before {

    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid rgba(255,255,255,0.5);

    top:25%;
}

.custom-arrow::after {

    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid rgba(255,255,255,0.5);

    top:70%;
}

img {
  display: block;
  margin: auto;
}
